<html xmlns:th="https://www.thymeleaf.org">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/xml/converters">
        <table>
            <tr><td>XML файл для загрузки:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Загрузить" /></td></tr>
        </table>
    </form>
</div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${exception}">
    <h2 th:text="${exception}"/>
</div>

<div th:if="${message}">
    <form method="GET" enctype="text/plain" th:action="@{/xml/converters/json}">
            <input type="hidden" name="fileName" th:value="${fileName}" />
            <input type="submit" value="Показать JSON" />
    </form>
</div>

</body>
</html>